body {
    background:url(../background/spikes.png);
}
#title-block {
    display: flex;
    justify-content: center;
}
#controls-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
#controls {
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.control-label {
    margin: 0.5rem;
}
#grid-container {
    display: flex;
    justify-content: center;
    background-image: white;
    

}
#sketch-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    border: 2px black solid;
    width: 600px;
    height: 600px;
    background-image: linear-gradient(white, white);
}
.sketch-pixel {
    margin: 0px;
    padding: 0px;
    border: 1px grey dashed;
    opacity: 1;
    
}

.on-pixel {
    background-color: black;
}
.darkerEveryHover {
    background-color: rgb(230,230,230);
}
.randomColor {
    background-color: rgb(185, 221, 53);
}

